/local.properties

# for gradle, IDEA
.gradle
.idea
projectFilesBackup/

build
*.iml

# key
release.gradle

# properties
app/version.properties

japanreleaseapikey.properties
japandebugapikey.properties

captures
.DS_Store

# build time tracking
build_time_taken.csv

## bundler
.bundle
vendor/bundle


